

/* -------------------------------------------------------*/
/* COLORS */
/* -------------------------------------------------------*/

:root{
    /*Grundton - Beige */
    --beige2: oklch(0.8703 0.0944 66.71);
    --beige1: oklch(0.8145 0.0944 66.71);
    --beige: oklch(0.7744 0.0944 66.71);
    --beige-darker: oklch(0.6513 0.0944 66.71);
    --beige-darkest: oklch(0.5237 0.0944 66.71);

    /*Akzent 1 - red */
    --red: oklch(0.6098 0.1652 28.94);

    /*Neutral */
    --whitesmoke: oklch(0.97 0 0);
    --grey1: oklch(0.80 0 0);
    --grey: oklch(0.5842 0.0139 275.94);
    --grey-darker: oklch(0.3576 0.0139 275.94);
    --black: oklch(0.0846 0.0139 275.94);
}

/* -------------------------------------------------------*/
/* FONT */
/* -------------------------------------------------------*/




/* -------------------------------------------------------*/
/* STYLES */
/* -------------------------------------------------------*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* BODY */
body{
    min-height: 100vh;
    font-family: "Inter"; sans-serif;
    font-size: 16px;
    line-height: 1.3;
    background-color: var(--whitesmoke);
    color: var(--black);
}

/* Header Area */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background-color: var(--beige2);
}

.header-logo{
    cursor: pointer;
    font-family: "Sarina", cursive;
    color: var(--black);
    font-size: 40px;
    text-decoration: none;
}
        
.header-nav{
    list-style: none;
    display: flex;
}

.nav-button{
    display: flex;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 16px;
    background-color: var(--beige);
    cursor: pointer;
}
                
.nav-button a{
    font-family: "Inter"; sans-serif;
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
    color: var(--black);
} 
            
.nav-button:hover{
    background-color: var(--beige1);
}
            
.nav-button:active{
    background-color: var(--red);
}
        

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.126); 
    backdrop-filter: blur(10px);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
}

.sidebar li{
    width: 90%;
}

.sidebar-button{
    display: flex;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 16px;
    background-color: var(--beige);
    cursor: pointer;
}
                
.sidebar-button a{
    font-family: "Inter"; sans-serif;
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
    color: var(--black);
} 

.menu-button{
    display: none;
    padding: 5px 18px;
    margin: 2px;
    border: none;
    border-radius: 16px;
    background-color: var(--beige);
    cursor: pointer;
}

@media(max-width: 769px){
    .nav-button{
        display: none;
    }

    .menu-button{
        display: block;
    }
}


/* -------------------------------------------------------*/
/* TEXT STYLES */
/* -------------------------------------------------------*/

h1{
    font-family: "Inter"; sans-serif;
    font-weight: 700;
    font-size: 3rem;
    line-height: 1;
    hyphens: auto;
}

p{
    font-family: "Inter"; sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 1.4;
}

/* Positioning */

/*  INDEX  */

.grid-container{
	display: grid;
	grid-template-columns: 1fr;
    gap: 1em;
    margin: 1em;
}

.grid-container-item{
    padding: 2em;
    background-color: var(--grey1);
    border-radius: 12px;
    color: var(--black);
}

.grid-subcontainer-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    margin: 0em 20em 0em 20em;
    gap: 2rem;
    grid-template-areas:
    "box-4 box-1"
    "box-4 box-2"
    "box-4 box-3";
}

.grid-subcontainer-item1-1 { grid-area: box-1; text-align: right; }
.grid-subcontainer-item1-2 { grid-area: box-2; justify-self: center; align-self: center; }
.grid-subcontainer-item1-3 { grid-area: box-3; justify-self: center; align-self: center; margin: 1.5em;}
.grid-subcontainer-item1-4 {
grid-area: box-4;
align-self: stretch;
justify-self: stretch;
display: grid;             /* für place-items */
place-items: center;       /* Bild mittig */
margin: 0;                 /* <figure> Standard-Margin entfernen */
overflow: hidden;          /* falls Bild größer ist, nichts ragt raus */

}

.grid-subcontainer-item1-4 img {
display: block;         /* entfernt Inline-Lücke */
max-width: 70%;        /* responsive */
height: auto;
border-radius: 25px;
}


.grid-subcontainer-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    margin: 0em 20em 0em 20em;
    gap: 2rem;
    grid-template-areas:
    "box-4 box-1"
    "box-4 box-2"
    "box-4 box-3";
}


/* ABOUT */

.about-main{

}


/* Display */

.button{
    background-color: var(--beige);
    border-radius: 16px;
    padding: 1em;
    text-decoration: none;
    color: var(--black);
}


/* Other */